svg {
    margin-right: 7px;
}

.wrapper-menu {
    margin: 20px auto;
    height: 200px;
    width: 1200px;
    background-color: #34485e;

    color: white;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 23px;
        }
    }

    .home-icon {
        position: relative;
        width: 70px;
        height: 70px;
        background-color: #3598db;

        padding-left: 12px;
        box-sizing: border-box;

        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .home-icon:after {
        content: "";
        position: absolute;
        left: 70px;
        border-left: 25px solid #3598db;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
    }

    .projects {
        position: relative;
        width: 170px;
        height: 70px;
        background-color: #2980b9;
    }
    .projects:after {
        content: "";
        position: absolute;
        left: 170px;
        border-left: 25px solid #2980b9;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
    }
    .projects:before {
        content: "";
        position: absolute;
        right: 170px;
        border-left: 25px solid transparent;
        border-top: 35px solid #2980b9;
        border-bottom: 35px solid #2980b9;
    }

    .breadcrumb {
        position: relative;
        width: 210px;
        height: 70px;
        background-color: #3598db;
    }
    .breadcrumb:after {
        content: "";
        position: absolute;
        left: 210px;
        border-left: 25px solid #3598db;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
    }
    .breadcrumb:before {
        content: "";
        position: absolute;
        right: 210px;
        border-left: 25px solid transparent;
        border-top: 35px solid #3598db;
        border-bottom: 35px solid #3598db;
    }

    .getting-started {
        position: relative;
        width: 230px;
        height: 70px;
        background-color: #2980b9;
    }
    .getting-started:after {
        content: "";
        position: absolute;
        left: 230px;
        border-left: 25px solid #2980b9;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
    }
    .getting-started:before {
        content: "";
        position: absolute;
        right: 230px;
        border-left: 25px solid transparent;
        border-top: 35px solid #2980b9;
        border-bottom: 35px solid #2980b9;
    }

    .download {
        position: relative;
        width: 180px;
        height: 70px;
        background-color: #3598db;

        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .download:before {
        content: "";
        position: absolute;
        right: 180px;
        border-left: 25px solid transparent;
        border-top: 35px solid #3598db;
        border-bottom: 35px solid #3598db;
    }
}
